*.py~
__pycache__/
\#*.py\#
*/.idea/
*.pyc
.idea/
#.gitignore#
.DS_Store
code/result/submission.csv
411a3/data/
411a3/data_classify/
411a3/train_aug.npz
411a3/train_vgg16.npz
411a3/train_vgg16_val.npz
*.hdf5
411a3/train_vgg19.npz
411a3/train_vgg19_val.npz
train_vgg16_128.npz
train_vgg16_val_128.npz